<style>
    .detailsHeader{
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.detailsHeaderLeft {
    grid-column: 1/2;
    background-color: rgba(62, 188, 211, 0.7);
    border-right: 1px solid #cfcece;
    vertical-align: middle;
    line-height: 40px;
}

.detailsHeaderRight {
    grid-column: 2/3;
    border-bottom: 1px solid #cfcece;
    vertical-align: middle;
    line-height: 40px;
}

.detailsHeader div a {
    letter-spacing: 3px;
    clear: left;
    color: #FFFFFF; 
    text-decoration: none;
}

.detailsHeader div a:hover {
    color: #F60B0F;
}

.detailsForm{
    grid-row: 2/3;
    background-color: rgba(62, 188, 211, 0.7);
}
</style>

<div class="paddingTop"></div>
<div class="wrapboxout">
    <div class="detailsHeader">
        <div class="detailsHeaderLeft">
            <a href="#/adminUsers">View Users</a>
        </div>
        <div class="detailsHeaderRight">
            <a href="#/createUser">Create User</a>
        </div>
    </div>
    <form class="detailsForm" action="http://localhost:8080/Cleanerz/createUser" method="post">

    </form>
</div>
<div class="paddingBottom"></div>

